<h2  > Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Customers First Name</th>
            <th>  Customers Last Name </th>
            <th> Customers Email Id</th>
            <th> Phone no:</th>
            <th>Designation:</th>
            
            <th> Actions </th>
         
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{employee.firstName }} </td>
            <td> {{employee.lastName }} </td>
            <td> {{employee.emailId }} </td>
            <td> {{employee.phNo }} </td>
            <td>{{employee.desI}}</td>
        
       
            <td>
                <button (click) = "updateEmployee(employee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(employee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(employee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                
            </td>
        </tr>
    </tbody>
</table>
