
<h3 class="text-center"> View Employee Details</h3>
<div class="text-center" ><br/>
   
    <div>
        <label> <b> Customers First Name: </b></label> {{employee.firstName}}
    </div><br/>
    <div>
        <label> <b> Customers Last Name: </b></label> {{employee.lastName}}
    </div><br/>
    <div>
        <label> <b> CUstomers Email Id: </b></label> {{employee.emailId}}
    </div><br/>
    <div>
        <label> <b>customers Phone: </b></label> {{employee.phNo}}
    </div><br/>
    <div>
        <label> <b>Designation :</b></label> {{employee.desI}}
    </div><br/>
   
   

</div>